
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* Since positioning the image, we need to help out the caption */

.carousel, .carousel-inner {
    position: relative;
}

.carouselCaption {
    z-index: 10;
}

.carousel {
    top: 0;
    height: 450px;
    margin-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 450px;
    background-color: #777;
}

.carousel > .item > img {
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

@media(max-height: 768px) {
    .carousel {
        height: 300px;
        margin-bottom: 25px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 300px;
    }
    .carousel > .item > img {
        height: 300px;
    }
}

.firstSlide {
}

.secondSlide {
}

.thirdSlide {
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Bump up size of carousel content */
.carouselCaption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

