
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* Since positioning the image, we need to help out the caption */

.carousel, .carousel-inner {
    position: relative;
}

.carouselCaption {
    z-index: 10;
}

.carousel {
    top: 0;
    height: 450px;
    margin-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 450px;
    background-color: #777;
    overflow: hidden;
}

.item img{
    position: absolute;
    top: -30%;
}

@media(max-height: 768px) {
    .carousel {
        height: 300px;
        margin-bottom: 25px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 300px;
    }
    .item img {
    }
}

@media (max-device-width: 1024px) {
      /*IPad portrait AND netbooks, AND anything with smaller screen*/
      /*make the design flexible if possible */
      /*Structure your code thinking about all devices that go below*/
    .carousel {
        height: 300px;
        margin-bottom: 25px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 300px;
    }
    .item img {
        top: 0;
    }
}
@media (max-device-width: 640px) {
     /*Iphone portrait and smaller*/
    .carousel {
        height: 300px;
        margin-bottom: 25px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 300px;
    }
    .item img {
        top: 0;
    }
}
@media (max-device-width: 540px) {
     /*Smaller and smaller...*/
    .carousel {
        height: 250px;
        margin-bottom: 25px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 250px;
    }
    .item img {
        top: 10%;
    }
}
@media (max-device-width: 320px) {
     /*IPhone portrait and smaller. You can probably stop on 320px*/
    .carousel {
        height: 300px;
        margin-bottom: 25px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 250px;
    }
    .item img {
        top: 10%;
    }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Bump up size of carousel content */
.carouselCaption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

