
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    height: 450px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carouselCaption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 450px;
    background-color: #777;
}
.carousel > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 450px;
}
.firstSlide {
}

.secondSlide {
}

.thirdSlide {
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Bump up size of carousel content */
.carouselCaption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

