.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
//    background: #2d2d2d url('../Home/logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }

  .footer {
      margin-bottom: 40px;
  }

}

.appContent {
  margin: 50px 0; // for fixed navbar
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbarWrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbarWrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
 .navbarWrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
 .navbarWrapper .navbar  .container {
    width: auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */
.featuretteDivider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featuretteHeading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbarWrapper {
        margin-top: 20px;
    }
    .navbarWrapper .container {
        padding-right: 35px;
        padding-left: 35px;
    }
    .navbarWrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbarWrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carouselCaption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featuretteHeading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

